body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 40px 10px;
    line-height: 1.65em;
    color: #fff;
    font-weight: 300;
    background-image: url('firework.jpg');
}

h1 {
    text-align: center;
    margin: 20% 0 5% 0;
    color: white;
    text-shadow: 5px 5px black;
}

#wordbox {
    /*opacity: 0;*/
    margin: 30px auto 0;
    display: block;
    width: 1000px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    color: #black;
    transition: 1s linear;
}

#button {
    background: crimson;
    box-shadow: 5px 5px black;
    border: 0;
    color: #fff;
    font-size: 20px;
    padding: 1em 2em;
    cursor: pointer;
    margin: 0 auto 60px;
    display: block;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
}

#button:hover {background-color: firebrick}

#button:active {
    background-color: crimson;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 580px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 12px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 85%;
    margin-left: -140px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


